{% extends "base.html" %}
{% load staticfiles %}

{% block page_body %}

<!-- Jumbotron -->


<!-- Example row of columns -->
<div class="row">

    {% for coupon in couponlist %}

    <div class="col-sm-6 col-md-4" style="display:block; width:auto;">
        <div class="thumbnail">
            <img data-holder-rendered="true" src="{% static 'images/holder.svg' %}" style="display: block;" data-src="holder.js/100%x200" alt="100%x200">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>TEXTOOOOOOOO</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>


    {% empty %}
    Disculpen, no hay cupones por el momento

    {% endfor %}

</div>

{% endblock %}  